.OATE_content:not(.active) {
  display: none;
}

.pos-r {
  position: relative;
}
.inputDateOver,
.inputDateOver::-webkit-calendar-picker-indicator {
  display: block;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  opacity: 0;
}

#OATE_cvv::-webkit-outer-spin-button,
#OATE_cvv::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#OATE_cvv[type="number"] {
  -moz-appearance: textfield;
}

.OATE_content_card_number {
  position: relative;
}

.OATE_card_number_img {
  position: absolute !important;
  top: 0 !important;
  right: 5px !important;
  bottom: 0 !important;
  margin: auto !important;
  z-index: 1 !important;
  width: 35px !important;
}

.OATE_card_number_img:not(.active) {
  display: none;
}
